.contact-us-form {
    margin-bottom: 30px;

    .contact-us-form-title {
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: normal;
    }

    form {
        display: block;
        padding: 30px;
        border-radius: 2px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    }

    /* noinspection CssOptimizeSimilarProperties */
    [type='submit']:hover {
        border-color: #c6c6c6;
        color: #fff;
        cursor: pointer;
        transition: all 0.2s;
        background-color: #4c8ffc;
        background-image: linear-gradient(to bottom, #4c8ffc, #4889f0);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }

    input,
    textarea {
        border-radius: 2px;
        width: 100%;
        display: block;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 15px;
        border: 1px solid #eceff1;
        padding: 15px;
        z-index: 1;
        position: relative;
        box-sizing: border-box;
        background: #fff;
        border-top: 1px solid #c0c0c0;
    }

    @media only screen and (max-width: 800px) {
        form {
            left: 3%;
            margin-right: 3%;
            width: 88%;
            margin-left: 3%;
            padding-left: 3%;
            padding-right: 3%;
        }
    }

    .row {
        margin: 20px auto 0 auto;
    }

    address {
        margin: auto;
    }
}
