.home-page {
    .section {
        margin-bottom: 50px;
    }

    dd {
        padding-bottom: 10px;
    }

    h1,
    h2,
    h3 {
        font-weight: 400;
        line-height: 1.4;
    }

    h1,
    h3 {
        font-size: 1.5rem;
    }

    h2 {
        position: relative;
        padding-left: 46px;
        margin-bottom: 30px;
    }

    h2 .svg-inline--fa {
        position: absolute;
        top: 7px;
        left: 0;
        color: #000;
    }

    ul {
        list-style: none;
        padding: 0;
        // margin-left: auto;
    }

    a {
        color: inherit;
    }

    .address > span {
        padding-bottom: 6px;
    }

    .portfolio-logo {
        height: 100%;
    }

    .portfolio-information {
        height: 100%;
        padding: 20px;
        background-color: rgba(229, 57, 53, 0.1);

        p {
            margin-bottom: 20px;
        }
    }

    .portfolio-button-wrapper {
        text-align: right;
    }

    .testimonials > div {
    }

    .testimonials {
        .svg-inline--fa {
            color: #f9a825;
        }
    }

    .testimonials-information {
        margin: 0 auto 0 auto;
        padding: 20px;
        background-color: rgba(249, 168, 37, 0.1);
    }

    .testimonials-quote-icon {
        margin: 0 5px 10px 0;
    }

    .services .svg-inline--fa {
        color: #1e88e5;
    }

    .products .svg-inline--fa {
        color: #43a047;
    }

    .technology .svg-inline--fa {
        color: #e0dc08;
    }

    .methodology .svg-inline--fa {
        color: #f9a825;
    }

    .portfolio .svg-inline--fa {
        color: #e53935;
    }

    .blog .svg-inline--fa {
        color: #e0dc08;
    }
}
