.contact-us-form {
    & .contact-us-form-title {
        text-align: center;
        font-size: 20px;
        font-weight: normal;
    }

    & form {
        width: 100%;
        height: 100%;
        background: #f1f1f1;
        margin: 5% 33%;
        padding: 2%;
        border-radius: 2px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
        display: block;
        margin-top: 20px;
    }

    & [type='submit']:hover {
        border-color: #c6c6c6;
        color: #fff;
        cursor: pointer;
        transition: all 0.2s;
        background-color: #4c8ffc;
        background-image: linear-gradient(to bottom, #4c8ffc, #4889f0);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }

    & form,
    & input,
    & textarea {
        border-radius: 2px;
        width: 90%;
        display: block;
        font-size: 16px;
        font-weight: 300;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10px;
        border: 1px solid #eceff1;
        padding: 15px;
        z-index: 1;
        position: relative;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background: #fff;
        border-top: 1px solid #c0c0c0;
    }

    @media only screen and (max-width: 800px) {
        form {
            left: 3%;
            margin-right: 3%;
            width: 88%;
            margin-left: 3%;
            padding-left: 3%;
            padding-right: 3%;
        }
    }

    & .row {
        margin: 20px auto 0 auto;
    }

    & address {
        margin: auto;
    }
}
