.footer {
    .section {
        margin-bottom: 30px;
    }

    h2 .svg-inline--fa {
        position: relative;
        top: 7px;
        left: 0;
        color: #000;
    }

    .googlemap {
        width: 100%;
        border: none;
        margin: auto;
    }
}
