.footer {
    & .row {
        margin: 0 auto 30px auto;
        display: flex;
    }

    & h2 .svg-inline--fa {
        position: relative;
        top: 7px;
        left: 0;
        color: #000;
    }

    & .googlemap {
        width: 100%;
        border: none;
        margin: auto;
    }
}
