.header {
    & .logo {
        display: block;
        width: 200px;
        padding-top: 60px;
        margin-bottom: 50px;
        animation: logo-color 15s linear 0s infinite;
        cursor: pointer;
    }

    & .logo-icon {
        display: none;
    }
}
