/* noinspection CssUnknownTarget */
@import 'bootstrap';

/* custom styling */
@import './variables.css';
@import './notifications.css';
@import './loader.css';
@import './header.css';
@import './footer.css';
@import './splash.css';
@import './home.css';
@import './contact-us-form.css';
@import './service.css';
