.navbar {
    padding: 0;

    .navbar-brand {
        padding-bottom: 0;
    }

    .logo {
        display: block;
        padding-top: 10px;
        width: 150px;
        animation: logo-color 15s linear 0s infinite;
        cursor: pointer;
    }

    .logo-icon {
        display: none;
    }
}
